<div class="row mat-row">
  <span class="col-1 card-content">1</span>
  <span class="col-2 card-content">Paracetamol</span>
  <span class="col-3 card-content">Medicol</span>
  <span class="col-2 card-content">50 grams</span>
  <span class="col-2 card-content">PHP 50.00 - PHP 75.00</span>
  <span class="col-1 card-content">20 PCS</span>
  <div class="col-1 card-content">
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>