<h5 mat-dialog-title>Create Task</h5>
<div mat-dialog-content>
  <form>
    <mat-grid-list cols="2" rowHeight="85px">
      <mat-grid-tile [colspan]="2">
        <mat-form-field class="full" appearance="outline" [floatLabel]="'always'">
          <mat-label>Generic Name</mat-label>
          <input formControlName="fullname" matInput />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <mat-form-field class="full" appearance="outline" [floatLabel]="'always'">
          <mat-label>Brand Name</mat-label>
          <input formControlName="fullname" matInput />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="modal-form-input-pad" appearance="outline" [floatLabel]="'always'">
          <mat-label>Price From</mat-label>
          <input matInput type="number" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="modal-form-input-pad" appearance="outline" [floatLabel]="'always'">
          <mat-label>Price To</mat-label>
          <input matInput type="number" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" [floatLabel]="'always'" class="modal-form-input-pad">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" [floatLabel]="'always'" class="modal-form-input-pad">
          <mat-label>Size</mat-label>
          <input matInput placeholder="Size" type="number" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" [floatLabel]="'always'" class="modal-form-input-pad">
          <mat-label>UoM</mat-label>
          <mat-select>
            <mat-option [value]="'mg'"> mg </mat-option>
            <mat-option [value]="'g'"> g </mat-option>
            <mat-option [value]="'ml'"> ml </mat-option>
            <mat-option [value]="'pcs'"> pcs </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="div-action">
      <button class="ml-auto" mat-button>Cancel</button>

      <button cdkFocusInitial class="ok-button" mat-raised-button>
        Create Task
      </button>

    </div>

  </form>


</div>