.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.label {
  font-size: 12px;
}

.card {
  min-width: 420px;
  margin-bottom: 100px;
}

.title-row {
  justify-content: center;
  align-items: flex-end;
}

.med {
  font-size: 30px;
  font-weight: bold;
  color: #2d3b8c;
}

.finder {
  font-size: 23px;
  margin-bottom: 3px;
  color: #383838;
}

@media (max-width: 500px) {
  .card {
    min-width: 90%;
  }
}
