<h5> Change Password</h5>
<form [formGroup]="changePassForm" (submit)="save()">
  <div class="medicine-form">

    <span class="form-label">Old Password</span>
    <input type="password" [ngClass]="{'input-invalid': changePassForm.get('oldPass').invalid}"
      formControlName="oldPass" class="form-input ">
    <div *ngIf="changePassForm.get('oldPass').invalid" class="input-invalid-message">
      This field is required.
    </div>

    <span class="form-label">New Password</span>
    <input type="password" [ngClass]="{'input-invalid': changePassForm.get('newPass').invalid}"
      formControlName="newPass" class="form-input ">
    <div *ngIf="changePassForm.get('newPass').invalid" class="input-invalid-message">
      This field is required.
    </div>

    <span class="form-label">Confirm Password</span>
    <input type="password" [ngClass]="{'input-invalid': changePassForm.get('confirmPass').invalid}"
      formControlName="confirmPass" class="form-input ">
    <div *ngIf="changePassForm.get('confirmPass').invalid" class="input-invalid-message">
      This field is required.
    </div>

  </div>

  <div class="div-action mt-3">
    <app-btn-loading class="ml-auto" [Text]="'Save'" [IsLoading]="isLoading">
    </app-btn-loading>

  </div>
</form>