.row-input {
  height: 35px;
  width: 150px;
  background-color: #f9f9f9;
  /* width: 100px; */
  padding-left: 5px;
  margin-right: 5px;
  border-style: solid;
  border-color: #dadada;
  border-width: thin;
}

.row-input-div {
}

.input-cell {
  width: 150px;
}

.remove-cell {
  width: 50px;
}

.remove-button {
  color: red;
}

.save-button {
  background-color: rgb(3, 94, 3);
  color: white;
}

h5 {
  margin-bottom: 0 !important;
}
