<mat-toolbar class="elevation" color="primary">
  <mat-toolbar-row>
    <span class="nav-icon" [routerLink]="['/home']">MED-finder</span>
    <span class="spacer"></span>
    <span class="user">John Kenneth Furog</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/profile']">Store Profile</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>