<mat-toolbar class="elevation" color="primary">
  <mat-toolbar-row>
    <span class="nav-icon" (click)="gotoHome()">MED-finder</span>
    <a href="#" *ngIf="_isAdmin" class="nav-item" [routerLink]="['/medicines-available']"
      routerLinkActive="router-link-active">Medicines</a>
    <a href="#" *ngIf="_isAdmin" class="nav-item" [routerLink]="['/store-list']"
      routerLinkActive="router-link-active">Stores</a>
    <span class="spacer"></span>
    <span *ngIf="_isSignedIn" class="user">{{_usersEmail}}</span>
    <button *ngIf="_isSignedIn" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!_isAdmin" mat-menu-item [routerLink]="['/profile']">Store Profile</button>
      <button (click)="changePassword()" mat-menu-item>Change Password</button>
      <button (click)="signout()" mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>