.elevation {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.toolbar-icon {
  padding: 0 20px 0 5px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.user {
  font-size: 14px;
}

.user-option {
  cursor: pointer;
  align-items: center;
  display: flex;
}

.nav-icon {
  cursor: pointer;
  color: white;
}

.nav-item {
  font-size: 16px;
  color: white;
  margin-left: 20px;
}
