/* You can add global styles to this file, and also import other style files */
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";

.main-color {
  background-color: #383c48;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

textarea,
span,
input,
button:focus {
  outline: none;
}

.ok-button {
  background-color: #ffbd3d;
  color: #211f1c;
}

.form-footer {
  margin-right: 0;
}

table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  display: unset;
}

.div-action {
  display: flex;
  align-items: center;
}

.input-search {
  border-style: none;
  flex: 1;
}

.search {
  padding: 7px 7px 7px 10px;
  border-width: thin;
  border-style: solid;
  margin-right: 10px;
  border-color: #dfdfdf;
  background-color: white;
  align-items: center;
  display: flex;
  min-width: 40%;
}

.input-invalid {
  border-color: red;
  border-style: solid;
  border-width: thin;
}

.input-invalid-message {
  font-size: 12px;
  color: red;
}

.medicine-form {
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-top: 10px;
  font-size: 13px;
}

.form-input {
  height: 40px;
  padding-left: 5px;
}
